COMPOSE_FILE=docker-compose.dev.yml

NODE_ENV=development

# KRAKEND -> list of allowed origins for cors separated per comma without spaces
CORS_ALLOWED_ORIGINS=http://localhost:3000

# Public url to frontend
PUBLIC_URL=http://localhost:3000

# DATABASE => POSTGRES
POSTGRES_HOST=erp-modul.postgres
POSTGRES_PORT=5432
POSTGRES_USERNAME=erp_modul
POSTGRES_PASSWORD=password
POSTGRES_NAME=erp_modul
POSTGRES_LOGGING=false
POSTGRES_BASE_URL=postgresql://${POSTGRES_USERNAME}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_NAME}

# RABBIT_MQ
RABBIT_MQ_USER=erp_modul
RABBIT_MQ_PASSWORD=password
RABBIT_MQ_HOSTS=amqp://${RABBIT_MQ_USER}:${RABBIT_MQ_PASSWORD}@erp-modul.rabbitmq:5672 # per comma

# SMS
SMS_EXPIRATION=3m
SMS_LOGIN=login
SMS_PASSWORD=password

# EMAIL
EMAIL_EXPIRATION=3m
SENDGRID_KEY=key
FROM_NO_REPLY=no-reply@mindmoney.eu
FROM_BACKOFFICE=backoffice@mindmoney.eu
FROM_NAME=MindMoney

# MINIO
MINIO_ROOT_USER=erpmodul
MINIO_ROOT_PASSWORD=password
MINIO_PUBLIC_BUCKET=erpmodul
MINIO_PUBLIC_URL=https://google.com
MINIO_ENDPOINT=erp-modul.minio
MINIO_API_PORT=9000
MINIO_USE_SSL=false

# FILES
MAX_FILE_SIZE_MB=5

# TOKENS
ACCESS_TOKEN_EXP=30d
REFRESH_TOKEN_EXP=30d

# PASSWORD
PASSWORD_PEPPER=secret

# SERVICE PORTS
SERVICE_REST_PORT=3000
SERVICE_TCP_PORT=3001

# SERVICE HOSTS
ALERT_APP_HOST=erp-modul.alert
CORE_APP_HOST=erp-modul.core
FILES_APP_HOST=erp-modul.files
ACCOUNTS_APP_HOST=erp-modul.accounts
PRODUCTS_TM_APP_HOST=erp-modul.products_tm

# POSTGRES CONNECTIONS => CORE
CORE_POSTGRES_SCHEMA=core
CORE_POSTGRES_URL=${POSTGRES_BASE_URL}?schema=${CORE_POSTGRES_SCHEMA}

# POSTGRES CONNECTIONS => ACCOUNTS
ACCOUNTS_POSTGRES_SCHEMA=accounts
ACCOUNTS_POSTGRES_URL=${POSTGRES_BASE_URL}?schema=${ACCOUNTS_POSTGRES_SCHEMA}

# POSTGRES CONNECTIONS => PRODUCTS_TM
PRODUCTS_TM_POSTGRES_SCHEMA=products_tm
PRODUCTS_TM_POSTGRES_URL=${POSTGRES_BASE_URL}?schema=${PRODUCTS_TM_POSTGRES_SCHEMA}

# POSTGRES CONNECTIONS => FILES
FILES_POSTGRES_SCHEMA=files
FILES_POSTGRES_URL=${POSTGRES_BASE_URL}?schema=${FILES_POSTGRES_SCHEMA}

# MONGO CONNECTIONS => AUDIT_LOG
FILES_MONGO_URL=mongodb+srv://<user>:<password>@<host>/<db>?retryWrites=true&w=majority&appName=<app_name>

# MONGO CONNECTIONS => ALERT
ALERT_MONGO_URL=mongodb+srv://<user>:<password>@<host>/<db>?retryWrites=true&w=majority&appName=<app_name>
