{{ template "auth_reset_email.tmpl" . }},
{{ template "auth_reset_phone.tmpl" . }},
{{ template "auth_reset_password.tmpl" . }},
{{ template "auth_signin.tmpl" . }},
{{ template "auth_signup.tmpl" . }}
