iframe {
  border: 0;
}

.custom-dialog-container {
  background: rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(5px);
}

.top-level-progress-bar {
  position: fixed;
  height: 0.25rem;
  box-shadow:
    0 10px 15px -3px rgba(14, 165, 233, 0.2),
    0 4px 6px -2px rgba(14, 165, 233, 0.2);
  background-color: #526ed3;
  top: 0;
}

.MRTSearchTextField .MuiInputBase-root,
.MRTHeadFilterFields .MuiInputBase-root {
  padding: 0 5px;
}

.MRTSearchTextField .MuiInputBase-root input,
.MRTHeadFilterFields .MuiInputBase-root input {
  padding: 4px 5px;
}

.MRTPaginationSelectField .MuiSelect-select,
.MRTPaginationSelectField .MuiNativeSelect-select,
.MRTHeadFilterFields .MuiSelect-select,
.MRTHeadFilterFields .MuiNativeSelect-select {
  padding: 4px 20px 4px 8px;
}

.MRTPaginationSelectField .MuiSelect-icon,
.MRTHeadFilterFields .MuiSelect-icon {
  right: 5px;
}

.MRTHeadFilterFieldsMultipleSelect .MuiChip-root {
  background-color: #526ed3;
}
